<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Build and Evaluate Your Models - Regression



---

> **Note**: this is intended to be a group work lab or a codealong with the instructor.

## Model Options

---

We now have a selection of models to utilize for your modeling practice session.

In [2]:
# Data science modules
import pandas as pd
import numpy as np

# Plotting modules
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Modeling modules
from sklearn.model_selection import train_test_split ##Train test split your data
from sklearn.linear_model import LinearRegression ##Building a Linear Regressor
from sklearn.neighbors import KNeighborsRegressor #Building a KNN regressor
from sklearn.tree import DecisionTreeRegressor #Building a DT Regressor
#from sklearn.ensemble import RandomForestRegressor #Building a RF Regression

# Evaluation modules
from sklearn import metrics

Example of creating a model

In [ ]:
#from sklearn.linear_model import LinearRegression
#LR = LinearRegression()
#X = glass[['al']]
#y = glass.household

#from sklearn.model_selection import train_test_split

#X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=2)

#LR.fit(X_train,y_train)

#y_pred = LR.predict(X_test)

In [ ]:
# Cheat Sheet Metrics
# RMSE
# np.sqrt(metrics.mean_squared_error(true_value, predicted_value))

# R2 Score
# metrics.r2_score(y_true, y_pred)

## Lab Instructions

---

Utilize the models you have access to for an evaluation of the hitters dataset. Your outcome variable will be your salary variable.

1. Import the hitters data
2. Do very minimal cleaning and create intial models for all three regressors. Choose at least three variables and let them all be numeric.
3. Evaluate your models with RMSE and R2 Score
4. Go back into your data and start to explore your variables (create at least three charts showing correlation, boxplots, scatter plots, etc.)
5. After you have done this EDA, will you keep your same variables? 
6. Create new models but this time choose a categorical variable to include. Create dummy variables for this categorial variable.'
7. Re-evaluate your models outputs

Bonus! Try to use a new metrics to evaluate on https://scikit-learn.org/stable/modules/classes.html#module-sklearn.metrics

- Major League Baseball player data from 1986-87: [data](https://github.com/justmarkham/DAT8/blob/master/data/hitters.csv), [data dictionary](https://cran.r-project.org/web/packages/ISLR/ISLR.pdf) (page 7)
- Each observation represents a player.
- **Goal:** Predict player salary.

In [3]:
path ='../data/hitters.csv'
hitters = pd.read_csv(path)

In [6]:
hitters.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N